# Configuración de la Aplicación
APP_NAME=Demo API
VERSION=1.1.0
DEBUG=true

# Base de datos PostgreSQL
DATABASE_URL=postgresql://postgres:your_password@localhost:5432/db_test_template

# JWT Security (generar con generate_secret_key.py)
SECRET_KEY=your-super-secret-key-here:30092025_1103
ACCESS_TOKEN_EXPIRE_MINUTES=30
ALGORITHM=HS256

# Admin por defecto
DEFAULT_ADMIN_EMAIL=admin@tuempresa.com
DEFAULT_ADMIN_PASSWORD=root

# Servidor
HOST=0.0.0.0
PORT=8001